/*--------------Globals ------------ */
:root {
  --amazonDark: #203040;
  --amazonOrange: #ff8000;
  --amazonLightOrange: #f0c040;
  --white: #ffffff;
  --gray: #c0c0c0;
  --darkGray: #808080;
  --lightGray: #f0f0f0;
  --lightRed: #e93434e8;
  --lightGreen: #0bcc45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.page-height {
  min-height: calc(100vh - 7rem);
}

.btn {
  padding: 0.5rem;
  border: 0.1rem solid;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-in-out;
}

.btn.btn-primary {
  border-color: var(--amazonOrange);
  background-color: var(--amazonOrange);
  color: var(--white);
}

.btn.btn-primary:hover {
  background-color: transparent;
  color: var(--amazonOrange);
}

.btn.btn-danger {
  background-color: var(--lightRed);
  border-color: var(var(--lightRed));
  color: var(--white);
}

.btn.btn-danger:hover {
  background-color: transparent;
  color: var(--lightRed);
}

.btn.btn-secondary {
  background-color: var(--amazonDark);
  border-color: var(--amazonDark);
  color: var(--white);
}

.btn.btn-secondary:hover {
  background-color: transparent;
  color: var(--amazonDark);
}

.btn.btn-success {
  background-color: var(--lightGreen);
  color: var(--white);
}

.btn.btn-success:hover {
  background-color: transparent;
  color: var(--lightGreen);
}

/* -------------End of Globals----------- */

/*--------------Header----------------- */
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--amazonDark);
  color: var(--white);
  padding: 0.5rem;
  min-height: 3rem;
}

.container .header .brand a {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.header .brand button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  outline: none;
  color: var(--white);
  cursor: pointer;
}

.container .header .header-nav {
  display: flex;
}
.container .header .header-nav a {
  color: var(--white);
  text-decoration: none;
  margin: 10px;
}

.container .header .header-nav a:hover {
  color: var(--amazonOrange);
}

/* ------------------Sidebar---------------- */
.sidebar {
  position: fixed;
  top: 0;
  transform: translateX(-20rem);
  width: 20rem;
  background-color: var(--lightGray);
  min-height: 100%;
  transition: transform 0.3s linear;
  overflow-x: hidden;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-btn {
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.sidebar h3 {
  margin: 30px 10px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.sidebar ul {
  margin: 0 12px;
  list-style: none;
  width: 100%;
  overflow-x: hidden;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: var(--amazonDark);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 90%;
  padding: 5px 10px;
}

.sidebar ul li:hover a {
  color: var(--amazonOrange);
}
/* ------------------End of sidebar-------------- */
/*-----------------End of Header------------- */

/* ---------------Main section ---------------- */
.container .main {
  min-height: calc(100vh - 7rem);
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.products .product-container {
  flex: 0 1 20rem;
  margin: 1rem;
  min-height: 25rem;
  height: 100%;
  border-bottom: 0.1rem solid var(--gray);
  padding: 10px;
}

.products .product-container .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.products .product-container .product p {
  margin: 10px 0;
}

.products .product-container .product-rating {
  margin-bottom: 1rem;
  font-weight: 500;
}

.product-name a,
.product-price {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--amazonDark);
}

.product-price {
  font-size: 1.2rem;
}

.product-name a:hover {
  color: var(--amazonOrange);
}

.product-brand {
  font-size: 1rem;
  color: var(--darkGray);
}

.product-image {
  max-width: 25rem;
  max-height: 25rem;
  width: 100%;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}
.table {
  width: 100%;
}

.table th {
  text-align: left;
}

.table tbody > tr > td {
  padding: 5px;
}

.table tbody > tr:nth-child(odd) {
  background-color: #dadada;
}

/*----------------Single Product details--------------- */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details .details-image {
  flex: 2 1 25rem;
}

.details .details-image img {
  max-width: 30rem;
  width: 100%;
}

.details .details-info {
  flex: 1 1 15rem;
}

.details .details-action {
  flex: 1 1 20rem;
  border: 0.1rem solid var(--darkGray);
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 5px;
}

.details .details-action select {
  min-width: 50px;
  outline: none;
  padding: 5px;
  margin: 5px auto;
}

.details .details-action div p:last-child {
  display: flex;
  flex-direction: column;
}

.details .details-info p,
.details .details-action p {
  margin: 0.8rem 0;
}

.back-link {
  padding: 1rem;
}

.back-link a {
  color: var(--amazonDark);
  font-weight: 600;
  text-decoration: none;
}

/*-----------End of Single Product Details -------------- */

/* ------------------------Cart----------------------------- */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 30rem;
}

.cart-action {
  flex: 1 1 15rem;
  background-color: var(--lightGray);
  border: 0.1rem solid var(--darkGray);
  border-radius: 0.3rem;
  padding: 10px;
}

.cart-action h3,
.cart-action button {
  margin: 1rem 0;
}

.cart-action h3 {
  display: flex;
  justify-content: space-around;
  padding: auto 1rem;
}
.cart-list-container {
  padding: 1rem;
}

.cart-list-container > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--darkGray);
}

.cart-list-container div:first-child {
  align-items: flex-end;
}

.cart-list-container .cart-header {
  padding: 10px;
}

.cart-list-container .cart-item div,
.cart-list-container .cart-item p {
  min-width: 7.5rem;
  width: 100%;
  margin: 0 10px;
  text-align: right;
  padding: 5px;
}

.cart-list-container div img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container .cart-image,
.cart-list-container .cart-price,
.cart-list-container .cart-quantity {
  flex: 2 1;
}

.cart-list-container .cart-item .cart-name {
  flex: 5 1;
  text-align: left;
}

.cart-list-container .cart-item .cart-name a {
  text-decoration: none;
  color: var(--amazonDark);
  font-size: 1.1rem;
}

.cart-list-container .cart-item .cart-name a:hover {
  color: var(--amazonOrange);
}

.cart-list-container .cart-price {
  font-size: 1.3rem;
}

.cart-list-container .cart-quantity .btn {
  margin-left: 1rem;
  margin-top: 1rem;
}

.cart-list-container .cart-quantity select {
  min-width: 50px;
  outline: none;
  padding: 5px;
  margin: 5px auto;
  /* border-radius: 0.5rem; */
}
/* --------------------------End of Cart------------------- */

/* --------------------------forms----------------------------*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7rem);
  margin: 2rem 0;
}

.form-container {
  min-width: 30rem;
  padding: 2rem;
  border: 0.1rem solid var(--gray);
  border-radius: 0.5rem;
}

.form-container .form-group {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.form-container .form-group input,
.form-container .form-group label,
.form-container .form-group textarea,
.form-container .form-group .btn {
  width: 100%;
}

.form-container .form-group input,
.form-container .form-group textarea {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--gray);
  border-radius: 0.5rem;
  outline: none;
  margin-top: 0.5rem;
  resize: none;
}

.form-container .form-group textarea {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container .form-group a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.form-container .form-group h2 {
  font-size: 1.6rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
  color: var(--amazonDark);
}
/* ---------------------end of forms--------------------------- */

/*---------------Checkout steps---------------------- */
.checkout-steps {
  display: flex;
  justify-content: space-around;
  width: 35rem;
  margin: 1rem auto;
  margin-bottom: -3rem;
  padding: 10px;
}

.checkout-steps > div {
  border-top: 0.3rem solid var(--gray);
  color: var(--gray);
  flex: 1;
}

.checkout-steps > div.active {
  border-top: 0.3rem solid var(--amazonOrange);
  color: var(--amazonOrange);
}

.checkout-container {
  margin-bottom: 3rem;
}

.payment .form-group input[type="radio"] {
  width: initial;
  margin-right: 1rem;
}

.payment .form-group {
  margin-bottom: 2rem;
}
/* -----------------End of checkout steps------------------ */

/*----------------------Place Order ------------------ */

.place-order {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.place-order-info {
  flex: 3 1 45rem;
  /* margin-top: 2rem; */
  padding: 1rem;
}

.place-order-info > div {
  border: 0.1rem solid var(--gray);
  border-radius: 0.5rem;
  background-color: var(--lightGray);
  margin: 1rem;
  padding: 1rem;
}

.place-order-info > div:first-child {
  margin-top: -1rem;
}

.place-order-action {
  padding: 1rem;
  flex: 1 1 15rem;
  border: 0.1rem solid var(--gray);
  border-radius: 0.5rem;
  background-color: var(--lightGray);
}

.place-order-action div button {
  width: 100%;
}

.place-order-action .order-item-container > div:nth-child(2) {
  margin-bottom: 2rem;
}

.place-order-action .order-item-container > div {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.place-order-action .order-item-container > div:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}

/* .place-order-info > div h3 {
  margin: 1rem 0;
} */

/* .place-order-info {
  margin-top: 3rem;
  padding: 1rem;
  padding-left: 2rem;
}



.place-order-action {
  margin: 2rem;
  margin-top: 3rem;
  justify-content: flex-end;
}

.place-order-action div {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
} */
/* --------------End of place Order */

/* ----------------End of Main Section-------------- */

/* -----------------------Footer-------------------- */
.container .footer {
  grid-area: footer;
  background-color: var(--amazonDark);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

/* ----------------End of Footer-------------------- */
